# Dependencies
node_modules

# Testing
coverage

# Production
public/*
!public/favicon.ico
!public/logo192.png
!public/logo512.png
!public/manifest.json

# Access
access/gsheets.json
access/jwt_secret.json
access/db.json
access/dbToLoad.json

# Misc
.DS_Store
*.log
.idea