# Dependencies
node_modules
.yarn
.vite
.pnp.*

# Sass compiled files
*.module.css
*.css.map
*.css

# Testing
coverage

# Production
public/*
!public/favicon.ico
!public/logo192.png
!public/logo512.png
!public/manifest.json

# Access
access/*

# Misc
.DS_Store
*.log
.idea
announces/*

# VS Code stuff
.vscode/settings.json
.vscode/launch.json
