# Dependencies
node_modules
.yarn
.vite
.pnp.*

# env and local files
*.local

# Testing
coverage

# Production
public/*
!public/favicon.ico
!public/logo192.png
!public/logo512.png
!public/manifest.json
dist/*

# Access
access/*
announces/*

# Misc
.DS_Store
*.log
.idea

# VS Code stuff
.vscode/settings.json
.vscode/launch.json
