@import "../../../theme/variables";
@import "../../../theme/mixins";

.dayWishesForm {
    width: 470px;
}

.dayWishesTitle {
    padding: 15px 0;
    font-weight: bold;
    text-align: center;
}

.dayWishesList {
    @include clear-ul-style;
}

.dayWishesItem {
    display: inline-block;
    margin: 2px;
}

.dayWishesButton {
    margin: 0;
    padding: 5px 0 4px;
    border: 0;
    border-radius: 0;
    width: 90px;
    text-align: center;
    color: $color-grey-dark;
    background-color: $color-grey-light;
    cursor: pointer;

    &.active {
        color: $color-yellow;
        background-color: $color-black;
    }
}

.dayWishCommentWrapper {
    margin: 6px 0;

    label {
        display: block;
        padding: 6px 0 2px 4px;
    }
    textarea {
        width: 100%;
        height: 50px;
        padding: 5px;
        border: 1px solid $color-grey-light;
        background-color: $color-grey-lighter;
        outline: 0;
    }
}

.dayWishesButtonWrapper {
    margin-bottom: 10px;
    text-align: center;
}
