@import '@/assets/styles/variables';
@import '@/assets/styles/mixins';

.title {
  padding-bottom: 10px;
  font-weight: bold;
}

.teamList {
  margin: 0 0 20px;
  padding: 0;
}

.teamListItem {
  display: inline-block;
  margin: 2px;
  text-align: center;
  background-color: #ccc;

  button {
    padding: 4px 10px;
  }
}

.teamHeaderName {
  margin-bottom: 20px;
  font-weight: bold;
}

.teamActive {
  color: $color-orange;
}

.teamWishButton {
  margin: 0 2px;
  padding: 2px;
  color: $color-grey-dark;

  &.teamCurrent {
    color: $color-black;
  }

  &.teamActive {
    font-weight: bold;
    color: $color-orange;
  }

  &:hover {
    background-color: #fb0;
  }
}

.volunteerName {
  font-weight: bold;
}

.daysDisplay {
  font-weight: normal;
  color: $color-grey-medium;

  strong {
    color: $color-green;
  }
}
