@import "../../../theme/mixins";

.greyButton {
    @include form-grey-button;

    margin-top: 10px;
}

.infoBeforeIgnore {
    margin-top: 15px;
    position: relative;
    padding: 15px;
    outline: 0;
    background-color: $color-white;
}
.closeButton {
    position: absolute;
    padding: 0;
    z-index: 10;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    border-radius: 0;
    line-height: 20px;
    color: $color-grey-dark;
    text-align: center;
    background: none;
    cursor: pointer;
}
