@import "@/assets/styles/variables";
@import "@/assets/styles/mixins";

.loginPage {
    @include page-wrapper-center;
}

.loginContent {
    @include page-content-wrapper;
}

.loginIntro {
    margin-bottom: 10px;
}

.formLine {
    padding: 5px 0;

    label {
        display: block;
        margin-left: 5px;
    }
    input {
        width: 100%;
    }
}

.formButtons {
    margin-top: 10px;
    padding: 5px 0;
    text-align: center;
}

.error {
    margin-top: 10px;
    color: rgb(255, 0, 0);
    text-align: center;
}

.link {
    margin-top: 20px;
    text-align: center;
}
