@import "../../theme/mixins";

.homePage {
    @include page-wrapper-center;
}

.notificationsContent {
    @include page-content-wrapper;
}

.loginContent {
    @include page-content-wrapper;
}

.preRegisterContent {
    @include page-content-wrapper;
}

.navigationLink {
    @include page-content-wrapper;

    text-align: center;
}
