@import "../../../theme/variables";
@import "../../../theme/mixins";

.root {
    width: 470px;
}

.title {
    padding: 4px;
    font-weight: bold;
    text-align: center;
}

.inputWrapper {
    margin: 10px 0;

    label {
        display: inline-block;
        width: 170px;
    }
    input {
        width: 300px;
        border: 1px solid $color-grey-medium;
        outline: 0;
    }
}

.tShirtWrapper {
    margin: 10px 0;
    height: 28px;

    label {
        display: inline-block;
        width: 55px;
    }
}

.tShirtLabel {
    display: inline-block;
    margin-top: 6px;
    width: 170px;
}

.tShirtSizes {
    display: inline-block;
    width: 190px;
    text-align: right;

    select {
        margin-left: 10px;
        width: 120px;
        border: 1px solid $color-grey-medium;
        border-radius: 4px;
        background-color: $color-white;
        outline: 0;
    }
}

.buttonWrapper {
    margin-bottom: 10px;
    text-align: center;
}
