@import "../../../theme/variables";
@import "../../../theme/mixins";

.title {
    padding: 4px;
    margin: 15px 0;
    font-weight: bold;
    text-align: center;
}

.inputWrapper {
    margin: 25px 0;

    @include desktop {
        display: flex;
    }

    label {
        display: block;
        width: 170px;
    }
    input[type="text"] {
        min-width: 175px;
        border: 1px solid $color-grey-medium;
        outline: 0;
    }
}

.leftCol {
    flex: 0 0 240px;
}

.tshirtCountTitle {
    display: inline-block;
    width: 240px;
    margin-bottom: 10px;
}

.tshirtCountLabel {
    margin-bottom: 10px;
    width: 55px;
}

.tshirtSizesTitle {
    display: inline-block;
    width: 240px;
    margin-bottom: 10px;
}

.tshirtCountSelect {
    width: 120px;
    margin-bottom: 10px;
    border: 1px solid $color-grey-medium;
    border-radius: 4px;
    background-color: $color-white;
    outline: 0;
}

.adultTitle {
    display: inline-block;
    width: 240px;
    margin-bottom: 10px;
}

.adultLabel {
    margin-bottom: 10px;
    width: 55px;
}

.buttonWrapper {
    margin-bottom: 10px;
    text-align: center;
}

.foodTitle {
    margin-bottom: 10px;
}
