@import "../../../theme/variables";
@import "../../../theme/mixins";

.dayWishes {
    @include inner-content-wrapper();

    position: relative;
}

.daysLine,
.commentLine {
    span {
        display: inline-block;
    }
}

.dayLineTitle {
    padding-right: 5px;
    font-weight: bold;
}

.dayLineEmpty {
    color: $color-red;
    font-style: italic;
}

.commentLineTitle {
    padding-right: 5px;
}

.commentLineText {
    font-style: italic;
}

.editButton {
    @include vertical-center();

    position: absolute;
    right: 20px;

    button {
        color: $color-green;
        font-weight: bold;
        cursor: pointer;
    }
}
