@import "../../theme/variables";

.mainMenu {
    margin: 0;
    padding: 0;
    list-style: none;
}

.mainMenuItem {
    display: inline-block;
    margin: 0 6px;

    a {
        font-size: 0.9em;
        font-weight: bold;
        color: $color-black;
        text-decoration: none;
    }

    a:hover {
        color: $color-grey-dark;
    }
}
