@import "./variables";
@import "./fonts";
@import "./reset";
@import "./form";

body {
    padding: 0;
    font-family: "Helvetica-Light", Helvetica, Arial, sans-serif;
    background-color: $color-orange;
}
