@import "./variables";

@mixin desktop {
    @media (min-width: 800px) {
        @content;
    }
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-content: center;
}

@mixin page-wrapper-center {
    @include flex-center;
}

@mixin page-content-wrapper($desktopWidth: 400px) {
    margin: 10px;
    padding: 10px;
    background-color: $color-white;
    border-radius: 15px;
    border: $border-large;

    @include desktop {
        padding: 20px;
        width: $desktopWidth;
    }
}

@mixin clear-ul-style {
    margin: 0;
    padding: 0;
    list-style: none;
}
