$color-white: #fff;
$color-black: #000;
$color-red: #f00;
$color-blue: rgb(43, 61, 223);
$color-orange: #ea4d0a;
$color-yellow: #fdd137;
$color-grey-dark: #555;
$color-grey-medium: #999;
$color-grey-light: #ccc;
$color-grey-lighter: #eee;
$color-green: #080;

$color-unknown: rgb(232, 223, 235);
$color-active-unknown: rgb(167, 74, 196);
$color-ok: rgb(215, 233, 217);
$color-active-ok: rgb(27, 105, 11);
$color-bof: rgb(231, 227, 214);
$color-active-bof: rgb(180, 124, 19);
$color-niet: rgb(233, 215, 217);
$color-active-niet: rgb(158, 17, 41);

$border-large: 4px solid $color-black;
$border-thin: 2px solid $color-black;

$font-pel: "Grobold";
