$color-white: #fff;
$color-black: #000;
$color-orange: #ea4d0a;
$color-yellow: #fdd137;
$color-grey-dark: #555;
$color-grey-medium: #999;
$color-grey-light: #ccc;
$color-grey-lighter: #eee;

$border-large: 4px solid $color-black;
$border-thin: 2px solid $color-black;

$font-pel: "Grobold";
