@import "../../theme/variables";
@import "../../theme/mixins";

.announcementLink {
    margin: 0.9em;
}

.gazette {
    margin-left: 0.22em;
    margin-right: 0.5em;
    vertical-align: middle;
}
.report {
    margin-right: 0.4em;
    vertical-align: middle;
}
