@import "../../theme/variables";
@import "../../theme/mixins";
.volunteers {
    padding: 0;
    list-style: none;
}

$height: 24px;
.volunteer {
    display: grid;
    grid-template-columns: minmax(min-content, 5fr) min-content min-content;
}

.day {
    display: inline-block;
    width: 50px;
    height: $height;
    margin: 0 2px;
    text-align: center;
    background-color: $color-red;
    color: transparent;
    &.unknown {
        background-color: $color-grey-medium;
    }
    &.available {
        background-color: $color-green;
    }
}
