@import "../../../theme/variables";
@import "../../../theme/mixins";

.title {
    padding: 15px 0;
    font-weight: bold;
    text-align: center;
}

.inputWrapper {
    margin: 25px 0;

    @include desktop {
        display: flex;
    }
}

.leftCol {
    flex: 0 0 320px;
}

.rightCol {
    width: 100%;
    text-align: center;
}

.needsMealsTitle {
    display: inline-block;
    width: 320px;
    margin-bottom: 10px;
}

.mealsLabel {
    text-align: left;
    display: inline-block;
    margin-bottom: 10px;
    width: 220px;
}

.canHostCountTitle {
    display: inline-block;
    width: 320px;
    margin-bottom: 10px;
}

.canHostCountLabel {
    text-align: left;
    display: inline-block;
    margin-bottom: 10px;
    width: 80px;
}

.distanceToFestivalTitle {
    display: inline-block;
    width: 320px;
    margin-bottom: 10px;
}

.distanceToFestivalLabel {
    text-align: left;
    display: inline-block;
    margin-bottom: 10px;
    width: 80px;
}

.mealsTitle {
    display: inline-block;
    width: 320px;
    margin-bottom: 10px;
}

.mealsList {
    @include clear-ul-style;

    display: inline-block;
    width: 204px;
    text-align: center;
}

.mealsItem {
    display: inline-block;
    margin: 3px;
}

.mealsButton {
    margin: 0;
    padding: 7px 2px 6px;
    border: 0;
    border-radius: 0;
    width: 90px;
    text-align: center;
    color: $color-grey-dark;
    background-color: $color-grey-light;
    cursor: pointer;

    &.active {
        color: $color-yellow;
        background-color: $color-black;
    }
}

.mealsCommentWrapper {
    margin: 6px 0 14px;

    label {
        display: block;
        padding: 6px 0 2px 4px;
    }
    textarea {
        width: 100%;
        height: 50px;
        padding: 5px;
        border: 1px solid $color-grey-light;
        background-color: $color-grey-lighter;
        outline: 0;
    }
}

.buttonWrapper {
    margin-bottom: 10px;
    text-align: center;
}
