@import "../../../theme/variables";
@import "../../../theme/mixins";

.root {
    @include inner-content-wrapper();

    position: relative;
    padding-right: 90px;
}

.title {
    padding-bottom: 10px;
    font-weight: bold;
}

.line {
    margin-bottom: 5px;
}

.lineEmpty {
    color: $color-red;
    font-style: italic;
}

.editButton {
    @include vertical-center();

    width: 100px;
    position: absolute;
    right: 20px;
    text-align: right;

    button {
        color: $color-green;
        font-weight: bold;
        cursor: pointer;
    }
}
