@import "../../../theme/variables";
@import "../../../theme/mixins";

.root {
    @include inner-content-wrapper();

    position: relative;
    padding-right: 90px;
}

.title {
    padding-bottom: 10px;
    font-weight: bold;
}

.line {
    margin-bottom: 5px;
}

.editButton {
    @include vertical-center();

    position: absolute;
    right: 20px;

    button {
        color: $color-green;
        font-weight: bold;
        cursor: pointer;
    }
}
