@import "../../theme/variables";

.VolunteerList {
    color: $color-white;

    ul {
        padding-left: 17px;
    }

    li {
        margin-bottom: 0.5em;
    }

    a {
        color: $color-white;
    }
}
